.banner {
  background-image: url("../images/Bg-banner.png");
  min-height: 952px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &-content {
    max-width: 520px;
    width: 100%;
    padding-top: 320px;
  }
}
