.footer {
  background-color: $secondary-color;
  &-content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 57px;
    border-bottom: 1px solid $text-color;
  }

  &-logo {
    margin-bottom: 40px;
  }
  &-desc {
    max-width: 712px;
    width: 100%;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
    text-align: center;
    margin-bottom: 50px;
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 50px;
    font-size: 18px;
    color: $text-color;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 200px;
  }
}
