.product {
  padding-bottom: 85px;
  &-tab {
    display: flex;
    align-items: center;
    gap: 0 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #dddddd;
    &--action {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      position: relative;
      cursor: pointer;
    }
  }
  &-list {
    display: none;
  }
  &-list.active-product {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding: 0 15px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.25s linear;
    width: 25%;
    height: 330px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  &-item {
    &:hover {
      // filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.2));
      box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
    }
    &:hover .product-select {
      opacity: 1;
      visibility: visible;
    }
    &--image {
      // height: 190px;
      margin-bottom: 47px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-name {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  &-price {
    font-size: 14px;
    font-weight: 700;
  }
  &-info {
    padding: 0 0 36px 31px;
  }
  &-select {
    position: absolute;
    right: 21px;
    top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    &--icon {
      color: $text-color;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $gray-light;
      border-radius: 5px 0 5px 0;
      transition: all 0.25s linear;
      &:hover {
        background-color: #dd2f31;
        color: #fff;
        border: 1px solid transparent;
      }
    }
  }
}
.is-active {
  color: #dd2f31;
  transition: all 0.25s linear;
  &::after {
    content: "";
    position: absolute;
    width: 129%;
    height: 3px;
    background-color: #dd2f31;
    left: 0;
    bottom: -19px;
  }
}
