.product {
  padding-bottom: 200px;
  &-tab {
    display: flex;
    align-items: center;
    gap: 0 40px;
    padding-bottom: 21px;
    border: 1px solid $gray-light;
    &--action {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
