@media screen and (max-width: 1023.98px) {
  // header
  .header {
    &-logo {
      -webkit-order: 2;
    }
    &-menu {
      -webkit-order: 1;
    }
    &-tool {
      -webkit-order: 3;
    }
  }
}
