// DeskTop
@media screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

// Tablet
@media screen and (max-width: 1023.98px) {
  // header
  .header {
    &-logo {
      -webkit-order: 2;
    }
    &-menu {
      -webkit-order: 1;
      position: fixed;
      width: 100%;
      max-width: 300px;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      z-index: 20;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      flex-direction: column;
      transform: translateX(-100%);
      transition: all 0.25s linear;
      &.show {
        transform: translateX(0);
      }
      &--link {
        display: block;
        color: $primary-color;
        padding: 20px;
        font-size: 18px;
      }
    }
    &-tool {
      -webkit-order: 3;
    }
  }
  .menu-toggle {
    width: 200px;
    color: #fff;
    font-size: 27px;
    cursor: pointer;
  }
  .scrim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    &.show-scrim {
      opacity: 1;
      visibility: visible;
    }
  }
  // Banner
  .banner {
    min-height: 700px;
    &-content {
      padding-top: 200px;
    }
  }
  // Category
  .category {
    padding-bottom: 80px;
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-item:nth-child(1) {
      -webkit-order: 2;
    }
    &-item:nth-child(2) {
      -webkit-order: 3;
    }
    &-item:nth-child(3) {
      -webkit-order: 2;
    }
    &-item:nth-child(4) {
      -webkit-order: 1;
    }
  }
  // Product
  .product {
    &-list.active-product {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // Footer
  .footer {
    &-content .container {
      padding: 80px 0 57px;
    }
    &-info {
      padding: 60px 0 40px;
    }
    &-list {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      gap: 30px 0;
    }
    &-title {
      margin-bottom: 20px;
    }
  }
}

// Phone
@media screen and (max-width: 767.98px) {
  // Toggle
  .menu-toggle {
    width: 100px;
  }
  // Banner
  .banner {
    min-height: 400px;
    &-content {
      padding-top: 120px;
    }
    &-heading {
      font-size: 40px;
      margin-bottom: 15px;
    }
    &-slogan {
      font-size: 30px;
      margin-bottom: 15px;
    }
    &-text {
      margin-bottom: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    &-button {
      padding: 15px 30px;
    }
  }
  // catgory
  .category {
    &-list {
      margin-top: -20px;
    }
    &-item {
      height: 200px;
      &--icon {
        height: 60px;
        margin-bottom: 12px;
      }
    }
    &-title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  // Product
  .product {
    padding-bottom: 80px;
    &-tab--action {
      font-size: 16px;
    }
    &-list.active-product {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
    }
    &-list.active-product::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list.active-product > * {
      scroll-snap-align: start;
    }
  }
  // about
  .about {
    &-heading {
      margin-bottom: 40px;
      line-height: calc(30 / 26);
    }
    &-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      margin-bottom: 15px;
    }
  }
  // Brand
  .brand {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
  // Footer {
  .footer {
    &-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}
